* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.square {
    border: 1px solid #D3D3D3;
    height: 20px;
    width: 20px;

}
#container > div:nth-child(13n+1) {
    width: 100%;
    border: 0;
    height: 0;
}