* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    width: 800px;
}

.grid-row {
    display: flex;
}

.grid-box {
    background-color: #FAF8F7;
}
